/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  input[type="radio"] {
    width: 25px; 
    height: 25px; 
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 5px;
    width: 1200px;
    max-width: 100%;
  }

  .container2 {
    margin: 0 auto;
    padding: 0 5px;
    width: 1000px;
    max-width: 100%;
  }

    /* # Header */

    .header{
      font-size: 17px;
      color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

    .nav-bar{
      max-width: 100%;
      display: flex;
      height: 80px;
      justify-content: space-between;
    }
    .logo-container, .start-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .item, .logo{
      margin: 0 20px;
    }

    .start-container>.button{
      height: 35px;
      width: 70px;
    }

    /* # Main */

    .main{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

    /* # Hero */

    .hero-section{
      background-color: #B4D0E7;
      height: 750px;
    }

    .hero{
      height: 100%;
      padding-top: 100px;
    }

    .hero>.title{
      font-size: 90px;
    }

    .hero>.info-container{
      display: flex;
      margin-top: 40px;
      line-height: 20px;
      font-size: 16px;
    }

    .hero-info-container{
      width: 30%;
    }

    .info-container>.img{
      height: 475px;
    }

    .button{
      width: 230px;
      height: 45px;
      color: white;
      background-color: #0061FF;
      border: 1px solid #0061FF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 17px;
    }

    .hero-info-container>.button, .hero-info-container>.unsub{
      margin-top: 30px;
    }
    
    .arrow{
      margin-top: 100px;
    }

    /* # Business */
    
    .business-section{
      height: 1800px;
    }

    .business{
      height: 100%;
      padding-top: 200px;
    }

    .business>.title{
      font-size: 43px;
    }

    .radio, .radio2{
      vertical-align: middle;
      
    }

    .radio2{
      margin-left: 60px;
    }

    .radio-button{
      margin-top: 30px;
    }

    .plan-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;
    }

    .plan{
      width: 300px;
      height: 950px;
    }

    .type, .plan, .team-plan{
      border: 1px solid #DCDCDE;
    }

    .type{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      
    }

    .info-plan{
      padding: 30px 30px;
    }

    .info-plan>.title{
      font-size: 25px;
      margin-bottom: 20px;
    }

    .info-plan>.price, .info-plan>.recurrency{
      font-size: 15px;
      margin-bottom: 10px;
    }

    .list, .list2{
      margin-top: 30px;
      list-style: none;
    }

    li{
      display: flex;
      margin: 20px 0;
    }
    
    .button-container{
      margin-top: 70px;
  
    }

    .button-container>button{
      width: 100%;
    }

    .buy-now,.sub-title{
      margin-top: 40px;
    }

    .info-plan>hr{
      margin-top: 40px;
      width: 50px;
    }

    .check{
      color: #0061FF;
    }

    .team-plan{
      width: 100%;
      height: 300px;
      margin-top: 50px;
    }

    .team-plan>.info-plan{
      padding: 30px 30px;
      display: flex;
    }

    .info-plan>.info-container{
      width: 80%;
    }

    .info-container>.title{
      font-size: 25px;
    }

    .info-container>.info{
      margin-top: 30px;
    }

    .info-container>.description{
      margin-top: 80px;
    }

    .button-container{
      
      margin-top: 0;
    }

    /* # Partner */

    .partner{
      display: flex;
    }

    .img-container{
      margin-right: 50px;
    }

    .img-container>.img{
      height: 500px;
    }

    .find-partner-container{
      margin: auto 0;
    }

    .find-partner-container>.title{
      font-size: 28px;
    }

    .find-partner-container>.description{
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .find-partner-container>.button{
      width: 180px;
      height: 45px;
      color: black;
      background-color: white;
      border: 1px solid currentColor;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 17px;
    }

    /* # Wrap */

    .wrap-section{
      margin-top: 150px;
    }

    .wrap-container>.title{
      font-size: 40px;
    }

    .wrap{
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }

    .card{
      margin-top: 50px;
      height: 500px;
      width: 300px;
    }

    .card>.img{
      width: 300px;
    }

    .card>.title{
      font-size: 25px;
    }

    .card>.text{
      margin-top: 30px;
    }
